/* Header.css */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f5f5f5;
}

.logout-button {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    width: 100px;
    background-color: palegreen;
    color: #075e54;
    cursor: pointer;
    margin-left: auto; /* This will push the button to the right */
}

.logout-button:hover {
    background-color: lightseagreen !important;

}

.titleLogout {
    display: flex;
    background-color: #075e54;
    color: #fff;
}
