/* ChatInput.css */
.chat-form {
    display: flex;
    align-items: center;
    padding: 10px;
    border-top: 1px solid #f0f0f0;
}

.chat-input {
    flex: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    margin-right: 10px;
    background-color: #f0f0f0;
}

.chat-send {
    padding: 10px 20px;
    border: none;
    border-radius: 10%;
    color: white;
    background-color: #075e54;
    cursor: pointer;
    min-width: 100px; /* Adjusted min-width value */
    font-size: 14px; /* Adjusted font-size value */
}

.chat-send:hover {
    background-color: #05493c;
}
