.chat-list {
    background-color: #ECE5DD;
    padding: 20px;
    height: 100vh;
    overflow: auto;
}

.chat-list-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #f0f0f0;
    cursor: pointer;
    transition: 0.3s;
}

.chat-list-item:hover {
    background-color: #ededed;
}

.chat-list-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.chat-title {
    font-weight: bold;
    color: #4a4a4a;
}

.chat-message {
    color: #888;
    font-size: 0.9em;
    margin-left: 5px;
}

form {
    display: flex;
    padding: 10px;
/*    border-bottom: 1px solid #f0f0f0;
   background-color: #f8f9fa;*/
    max-width: 33%;
    margin: 0 auto 0 0;
}

.chat-input {
    flex: 1;
    border: none;
    padding: 10px;
    border-radius: 20px;
    margin-right: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

button {
    background-color:#075e54;
    color: palegreen;
    border: none;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: 0.3s;

}

button:hover {
    background-color: #00897b;
}
