.chat-list-container {
    margin: 40px;
    background-color: #ECE5DD !important;
}

.chat-form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.chat-input {
    width: 300px !important;
    height: 40px;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #ddd; /* Add border */
    border-radius: 5px;
}


.create-chat-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #128c7e;
    cursor: pointer;
}

.create-chat-button:hover {
    background-color: #0e796c;
}

.chat-list-item {
    display: block;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    text-decoration: none;
    color: #333;
}

.chat-list-item:hover {
    background-color: #f6f6f6;
}

.chat-title {
    font-size: 16px;
    margin: 0;
}

.chat-message {
    font-size: 14px;
    margin: 5px 0;
}
