.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ECE5DD;
}

.login-panel {
    width: 400px;
    height: 350px;
    padding: 20px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    margin: 20px;
    position: relative;
}

h2 {
    color: #075e54;
    margin: 20px;
}

.login-input {
    width: 300px;
    height: 40px;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.login-button {
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: palegreen;
    background-color: #075E54;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background-color: #075E54;
    margin: 20px;
}

.login-error {
    color: red;
    margin-top: 5px;
}

.formContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-message {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    color: red;
    font-size: 14px;
    text-align: center;
}

.login-input.is-invalid,
.apiTokenInstance.is-invalid {
    border-color: red;
}